* {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  
  .banner {
    margin-top: 0;
      width: 100vw;
      height: 200px;
      background: url("./img/cidaliabanner.png") no-repeat;
      background-size: 100%;
      
    }
    
    .d3_ {
      
      display: flex;
     align-items: center;
     justify-content: center;
      margin-top: -35px;
      position: absolute;
      box-shadow: 20px;
      width: 100vw;
      height: 285px;
      opacity: 1;
      
    }
   
    .d3_backg {
    
      position: absolute;
      top: 120px;
      width: 200px;
      height: 200px;
      border-radius: 90px;
      background-color: #f3d1d7;
      transform: rotateX(45deg);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.411);
    }
    .body_Main {
      
      
      display: flex;
      
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: #f3d1d7;
     
  
    }
    .body_main3dcake {
      display: flex;
      
      width: 100vw;
      height: 250px;
      box-shadow:0px 0px 25px 7px rgba(0, 0, 0, 0.123) inset;
      background-color: #d57692;
    }
    .d3_body_Main {
      
      width: 100vw;
      height: 216px;
      
      background: url("./img/TELA3D500PX.png") no-repeat;
      background-size: 100%;
    }
    .config_Main{
      display: flex;
      
      width: 100vw;
      height: 30vh;
    
      
    }
   .configcake_main {
    display: flex;
      
    width: 100vw;
    height: 30vh;
    background-color: #d57692;
   }

}

@media screen and (max-width: 440px) {
  .App {
    
    
  }
  .banner {
  margin-top: 0;
    width: 100vw;
    height: 120px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -20px;
    
  }
  
  .d3_ {
    z-index: 1;
    display: flex;
   align-items: center;
   justify-content: center;
    margin-top: -35px;
    position: absolute;
    box-shadow: 20px;
    width: 100vw;
    height: 285px;
    opacity: 1;
    
  }
 
  .d3_backg {
  
    position: absolute;
    top: 120px;
    width: 200px;
    height: 200px;
    border-radius: 90px;
    background-color: #f3d1d7;
    transform: rotateX(45deg);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.411);
  }
  .body_Main {
    
    
    display: flex;
    
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f3d1d7;
   

  }
  .body_main3dcake {
    display: flex;
    z-index: 0;
    width: 100vw;
    height: 250px;
    box-shadow:0px 0px 25px 25px rgba(0, 0, 0, 0.342) inset;
    filter: blur(0.8px);
    background: url("./img/banner3d.png") no-repeat;
    background-size: 100%;
    background-color: #d57692;
    
  }
  .d3_body_Main {
    
    width: 100vw;
    height: 216px;
    
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }
  .config_Main{
    display: flex;
    
    width: 100vw;
    height: 30vh;
  
    
  }
 .configcake_main {
  display: flex;
    
  width: 100vw;
  height: 30vh;
  background-color: #d57692;
 }
}
@media screen and (max-width: 360px) {

  


}
