* {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1440px) {
  *{     overflow-x: hidden;
  }
  .banner {
   
    
    width: 100vw;
    height: 120px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -23px;
  }
  .CanvasS{
    display: flex;
    justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 220px;
  }
  .d3_ {
    padding-top: 100px;
    display: flex;
    justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    position: absolute;
    box-shadow: 20px;
    width: 100vw;
    height: 270px;
  }
  .d3_backg {
    position: absolute;
    margin-top: 150px;
    width: 180px;
    height: 110px;
    border-radius: 80px;
    background-color: #f3d1d7;
    
    
  }
  .body_Main {
    
    
    display: flex;
    
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f3d1d7;

  }
  .d3_body_Main {
    
    width: 100vw;
    height: 216px;
    
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }
  .config_Main{
    display: flex;
    
    width: 100vw;
    height: 40vh;
    background-color: #d57692;
  }

}

@media screen and (max-width: 440px) {
  .App {
    width: 100vw;
    height: 100vh;
  }
  .banner {
   
    
    width: 100vw;
    height: 120px;
    background: url("./img/cidaliabanner.png") no-repeat;
    background-size: 100%;
    background-position: 0px -23px;
  }
  
  .d3_ {
    
    display: flex;
    justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    position: absolute;
    box-shadow: 20px;
    width: 100vw;
    height: 285px;
    opacity: 1;
    
  }
  .d3_backg {
    position: absolute;
    margin-top: 150px;
    width: 180px;
    height: 110px;
    border-radius: 80px;
    background-color: #f3d1d7;
    
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.411);
  }
  .body_Main {
    
    
    display: flex;
    
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f3d1d7;
   

  }
  .body_main3dcake {
    display: flex;
    
    width: 100vw;
    height: 265px;
    background-color: #d57692;
  }
  .d3_body_Main {
    
    width: 100vw;
    height: 216px;
    
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }
  .config_Main{
    display: flex;
    
    width: 100vw;
    height: 30vh;
  
    
  }

}
@media screen and (max-width: 360px) {

  .d3_body_Main {
    width: 100vw;
    height: 200px;
    z-index: 1;
    background: url("./img/TELA3D500PX.png") no-repeat;
    background-size: 100%;
  }


}
test {
  background: url("../public/Componets/bolo2.glb");
}