@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Jersey+10&family=Lilita+One&family=Poetsen+One&family=Salsa&family=Signika:wght@300..700&family=Staatliches&family=Workbench&display=swap');
.icon_menu {
 position:absolute;
  width: 25px;
  height: 25px;
  left: 55px;
  
}
.search-label {
    width: 290px;
    height: 40px;
    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    position: relative;
    border: 3px solid transparent;
    border-radius: 18px;
    overflow: hidden;
    background: #b34458;
    padding: 9px;
    cursor: text;
    
  }
  
  .search-label:hover {
    border-color: #da4a6486;
  }
  
  .search-label:focus-within {
    background: #b34458;
    border-color: #ffa2b3;;
  }
  
  .search-label input {
    outline: none;
    width: 100%;
    height: 30px;
    border: none;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background: none;
    font-size: 23px;
    padding-bottom: 2px;
    color: rgb(255, 255, 255);
  }
  .search-label input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.418);
    font-size: 20px;
 }
  
  
 
 .search-label input:valid+.search-icon {
   display: block;
 }

  .search-label input:valid {
    width: calc(100% - 25px);
    transform: translateX(22px);
  }
  
  .search-label svg,
  .slash-icon {
    position: absolute;
    color: #7e7e7e;
  }
  
  .search-icon {
    display: none;
    width: 26px;
    height: auto;
   
    opacity: 0;
    transition: opacity 0.3s;
    
  }
  .search-label input:valid + .search-icon {
    opacity: 1;
  }
  
  .search-label input:focus + .search-icon {
    opacity: 0;
  }

  
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b34458;
    border: 1px solid #a0384b;
    transition: .4s;
    border-radius: 32px;
    outline: none;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    outline: 2px solid #a0384b;
    left: -1px;
    bottom: -1px;
    background-color: #fff;
    transition: transform .25s ease-in-out 0s;
  }
  
  .slider-icon {
    opacity: 0;
    height: 12px;
    width: 12px;
    stroke-width: 8;
    position: absolute;
    z-index: 999;
    stroke: #ffa2b3;
    right: 60%;
    top: 30%;
    transition: right ease-in-out .3s, opacity ease-in-out .15s;
  }
  
  input:checked + .slider {
    background-color: #c05f71;
  }
  
  input:checked + .slider .slider-icon {
    opacity: 1;
    right: 20%;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.5em);
    outline-color: #ffffff;
  }